@model Department

<br />
<br />
<div class="container">

    <div class="card">
        <div class="card-header">
            @Model.Name
        </div>
        <div class="card-body">
            <div>
                <h5>
                    City:
                    <span>
                        @Model.City
                    </span>
                </h5>
                <h5>
                    Address:
                    <span>
                        @Model.Address
                    </span>
                </h5>
                <h5>
                    Email:
                    <span>
                        @Model.EmailAddress
                    </span>
                </h5>
                <h5>
                    Reception phone:
                    <span>
                        @Model.MainPhone
                    </span>
                </h5>
                <h5>
                    BIN:
                    <span>
                        @Model.BIN
                    </span>
                </h5>
            </div>
            @if (Model.Divisions != null)
            {
                <div class="card-body">
                    <h5>
                        Divisions:
                    </h5>
                    @foreach (var emp in Model.Divisions)
                    {
                        <p>
                            <span class="badge badge-warning">
                                <a asp-controller="division" asp-action="details" asp-route-Id="@emp.Id">
                                    @emp.Name
                                </a>
                            </span>
                        </p>
                    }
                </div>
            }
            else
            {
                <p>
                    No Division
                </p>
            }
        </div>
    </div>

    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

    @if (User.IsInRole(Common.AdminRole))
    {
        <a class="btn btn-primary text-white" asp-action="Upsert" asp-route-Id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model.Id">
            Delete
        </a>
    }

</div>  