@model Department

<br />
<br />
<div class="container">

    <div class="card">
        <div class="card-header text-center">
            <h5>
                @Model.Name
            </h5>
        </div>
        <div class="card-body">
            <div>
                <div class="card-body float-left">
                    <p>
                        Город:
                        <strong>
                            @Model.City
                        </strong>
                    </p>
                    <p>
                        Адрес:
                        <strong>
                            @Model.Address
                        </strong>
                    </p>
                    <p>
                        Эл.почта:
                        <strong>
                            @Model.EmailAddress
                        </strong>
                    </p>
                    <p>
                        Телефон приемной:
                        <strong>
                            @Model.MainPhone
                        </strong>
                    </p>
                    <p>
                        БИН:
                        <strong>
                            @Model.BIN
                        </strong>
                    </p>
                </div>
            </div>
            @if (Model.Divisions != null)
            {
                <div class="card-body float-right">
                    <h5>
                        Отделы:
                    </h5>
                    @foreach (var emp in Model.Divisions)
                    {
                        <p>
                            <a asp-controller="division" asp-action="details" asp-route-Id="@emp.Id">
                                @emp.Name
                            </a>
                        </p>
                    }
                </div>
            }
            else
            {
                <p>
                    No Division
                </p>
            }
        </div>
    </div>

    <div class="mt-3">
        @*<a asp-controller="home" asp-action="Index" class="btn btn-primary">
            Назад
        </a>*@

        @if (User.IsInRole(Common.AdminRole))
        {
            <a class="btn btn-primary text-white" asp-action="Upsert" asp-route-Id="@Model.Id">
                Редактировать
            </a>
            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model.Id" onclick="return confirm('Подтвердите удаление:')">
                Удалить
            </a>
        }
    </div>

</div>  