@model IEnumerable<Department>

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info"> Департамент </h2>
        </div>

        <div class="col-3 text-right">
            <a asp-action="Upsert" class="btn btn-info form-control"> Добавить </a>
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <div class="row pb-5">
                @foreach (var item in Model.OrderByDescending(x => x.Id))
                {
                    <div class="col-lg-4 col-md-9 mb-4">
                        <div class="card text-black-50">

                            <div class="card-header">
                                <p>@item.Name</p>
                            </div>

                            @*<img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">*@

                            <div class="card-body">
                                <h5>
                                    @item.City
                                </h5>
                                <p>
                                    @item.Address
                                </p>
                                <p>
                                    @item.EmailAddress
                                </p>
                            </div>

                            <div class="card-footer">

                                @if (User.IsInRole(Common.AdminRole))
                                {
                                    <a class="btn btn-warning text-white" asp-action="Upsert" asp-route-Id="@item.Id">
                                        Редактировать
                                    </a>
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id"
                                       onclick="return confirm('Подтвердите удаление:')">
                                        Удалить
                                    </a>
                                }

                                <a class="btn btn-primary text-white" asp-action="Details" asp-route-Id="@item.Id">
                                    Детали
                                </a>

                            </div>

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No data exists...</p>
        }
    </div>
</div>