@model IEnumerable<Department>


@{
    ViewData["Title"] = "Home Page";
}


<br />
<br />
<div @*class="row pb-5"*@>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <!--<div class="col-lg-4 col-md-9">
                <a asp-controller="Department" asp-action="Details" class="btn btn-outline-dark p-2 m-2" style="text-decoration:none;
                    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.71);" asp-route-id="@item.Id">
                    <div class="card text-black-50">
                        <div class="card-header">
                            <p>@item.Name</p>
                        </div>-->

            @*<img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">*@

            <!--<div class="card-body">
                            <h5>
                                @item.City
                            </h5>
                            <p>
                                @item.Address
                            </p>
                        </div>
                    </div>
                </a>
            </div>-->
            @*<a asp-controller="Department" asp-action="Details" class="btn btn-outline-dark p-2 m-2" style="text-decoration:none;
                    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.71);" asp-route-id="@item.Id">
                <div class="card text-black-50">
                    <h5 class="card-header">Department</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Name
                        </h5>
                        <p class="card-text">
                            City: @item.City
                        </p>
                        <p class="card-text">
                            Address: @item.Address
                        </p>
                        <p class="card-text">
                            Email: @item.EmailAddress
                        </p>
                    </div>
                </div>
            </a>*@

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">
                        @item.Name
                    </h5>
                </div>
                <div class="card-body">

                    <p class="card-title">
                        Город: @item.City
                    </p>
                    <p>
                        Адрес: @item.Address
                    </p>
                    <p>
                        Телефон: @item.MainPhone
                    </p>
                    <p>
                        Эл.почта: @item.EmailAddress
                    </p>

                    <a asp-controller="Department" asp-action="Details" class="btn btn-primary p-2 m-2" style="text-decoration:none;
                        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.71);" asp-route-id="@item.Id">
                        Детали
                    </a>
                </div>
            </div>
        }
    }
    else
    {
        <p>
            No data
        </p>
    }
</div>
