@model EmployeePositionViewModel


<br />
<br />
<div class="container">

    <div class="card">
        <img class="card-img-top" src="@Model.Employee.ImageUrl" alt="Card image cap">
        <div class="card-header">
            <h5>
                @Model.Employee.FirstName @Model.Employee.MiddleName @Model.Employee.LastName
            </h5>
            <p>
                @Model.Employee.Phone
            </p>
            <p>
                @Model.Employee.Email
            </p>
        </div>
        @if (Model.EmployeePositionList != null)
        {
            <div class="card-body">
                @foreach (var emp in Model.EmployeePositionList)
                {
                    <p>
                        <span class="badge badge-warning">
                            @emp.Position.Name
                        </span>
                    </p>
                }
            </div>
        }
        else
        {
            <p>
                No Position
            </p>
        }
    </div>

    @if (User.IsInRole(Common.AdminRole))
    {
        <a class="btn btn-primary text-white" asp-action="managepositions" asp-route-Id="@Model.Employee.Id">
            Position
        </a>
    }

    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

</div>  