@model DivisionEmployeeViewModel


<br />
<br />
<div class="container">

    <div class="card">
        <div class="card-header">
            @foreach (var dep in Model.DepartmentList)
            {
                @if (dep.Id == Model.Division.DepartmentId)
                {
                    <h5>
                        Department:
                        <span>
                            @dep.Name
                        </span>
                    </h5>
                }
            }
            <p>
                @Model.Division.Name
            </p>
            <h5>
                Cabinet:
                <span>
                    @Model.Division.CabinetNumber
                </span>
                Phone: 
                <span>
                    @Model.Division.PhoneNumber
                </span>
            </h5>
        </div>
        <div class="card-body">
            @if (Model.DivisionEmployeeList != null)
            {
                <div class="card-body">
                    <h5>Employees:</h5>
                    @foreach (var emp in Model.DivisionEmployeeList)
                    {
                        <p>
                            <span class="badge border">
                                <a asp-controller="employee" asp-action="details" asp-route-Id="@emp.Employee.Id">
                                    <img src="@emp.Employee.ImageUrl" style="width:50px;height:50px;" />

                                    @emp.Employee.FirstName @emp.Employee.MiddleName @emp.Employee.LastName

                                    @foreach (var position in Model.EmployeePositionList)
                                    {
                                        @if (emp.Employee_Id == position.Employee_Id)
                                        {
                                            <span class="badge badge-warning">
                                                @position.Position.Name
                                            </span>
                                        }
                                    }
                                    IIN: @emp.Employee.IIN
                                    Mobile phone: @emp.Employee.MobilePhone
                                </a>
                            </span>
                        </p>
                    }
                </div>
            }
            else
            {
                <p>
                    No Employee
                </p>
            }
        </div>

    </div>

    @if (User.IsInRole(Common.AdminRole))
    {
        <a class="btn btn-primary text-white" asp-action="manageemployees" asp-route-Id="@Model.Division.Id">
            Employees
        </a>
    }
    
    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

</div>  