@model DivisionEmployeeViewModel

<div class="container">

    <div class="card">
        <div class="card-header">
            @foreach (var dep in Model.DepartmentList)
            {
                @if (dep.Id == Model.Division.DepartmentId)
                {
                    <h5>
                        @dep.Name
                    </h5>
                }
            }
            <p>
                @Model.Division.Name
            </p>
            <p>
                @Model.Division.CabinetNumber
            </p>
        </div>
        <div class="card-body">
            @if (Model.DivisionEmployeeList != null)
            {
                <div class="card-body">
                    @foreach (var emp in Model.DivisionEmployeeList)
                    {
                        <p>
                            <span class="badge badge-warning">
                                <a asp-controller="employee" asp-action="details" asp-route-Id="@emp.Employee.Id">
                                    @emp.Employee.FirstName / @emp.Employee.LastName

                                    @foreach (var position in Model.EmployeePositionList)
                                    {
                                        @if (emp.Employee_Id == position.Employee_Id)
                                        {
                                            <span class="badge badge-warning">
                                                @position.Position.Name
                                            </span>
                                        }
                                    }

                                </a>
                            </span>
                        </p>
                    }
                </div>
            }
            else
            {
                <p>
                    No Employee
                </p>
            }
        </div>
        
    </div>

    <a class="btn btn-primary text-white" asp-action="manageemployees" asp-route-Id="@Model.Division.Id">
        Employees
    </a>
    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

</div>  