@model IEnumerable<Division>

<br />
<br />
<div class="p-4 bg-white">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info"> Division </h2>
        </div>
        @if (User.IsInRole(Common.AdminRole))
        {
            <div class="col-3 text-right">
                <a asp-action="Upsert" class="btn btn-info form-control"> Add </a>
            </div>
        }
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <div class="row pb-5">
                @foreach (var item in Model.OrderByDescending(x => x.Id))
                {
                    <div class="col-lg-4 col-md-9 mb-4">
                        <div class="card text-black-50">

                            <div class="card-header">
                                @if (item.Department != null)
                                {
                                    <h5>Department: 
                                        <span>
                                            @item.Department.Name
                                        </span>
                                    </h5>
                                }
                                <p>@item.Name</p>
                            </div>

                            <div class="card-body">
                                <h5>
                                    Cabinet number:
                                    <span>
                                        @item.CabinetNumber
                                    </span>
                                </h5>
                                <h5>
                                    Phone number:
                                    <span>
                                        @item.PhoneNumber
                                    </span>
                                </h5>
                            </div>

                            <div class="card-footer">

                                @if (User.IsInRole(Common.AdminRole))
                                {
                                    <a class="btn btn-primary text-white" asp-action="Upsert" asp-route-Id="@item.Id">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@item.Id">
                                        Delete
                                    </a>
                                }

                                <a class="btn btn-primary text-white" asp-action="Details" asp-route-Id="@item.Id">
                                    Details
                                </a>

                            </div>

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No data exists...</p>
        }
    </div>
</div>